<a href="https://colab.research.google.com/github/rayviswajeet/DataAnalysis.project/blob/main/Titanic_Survivors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TITANIC SURVIVORS ANALYSIS**

In [47]:
import numpy as np
import pandas as pd

**Reading Data Using Pandas**

In [48]:
df= pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [49]:
df.shape

(891, 12)

**Handeling Null Values**

In [50]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Separating out the columns which have more than 35% of the values missing in the data base**

In [53]:
drop_col = df.isnull().sum()[df.isnull().sum()>(35/100 *df.shape[0])]
drop_col

Series([], dtype: int64)

In [52]:
drop_col.index

Index(['Cabin'], dtype='object')

In [51]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [19]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [23]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [27]:
df['Embarked'].fillna('S',inplace= True)

In [25]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [33]:
df.corr()

             PassengerId  Survived    Pclass  ...     Parch      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  ... -0.001652  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481  ...  0.081629  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000  ...  0.018443 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  ... -0.179191  0.091566   -0.248512
SibSp          -0.057527 -0.035322  0.083081  ...  0.414838  0.159651    0.890712
Parch          -0.001652  0.081629  0.018443  ...  1.000000  0.216225    0.783111
Fare            0.012658  0.257307 -0.549500  ...  0.216225  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997  ...  0.783111  0.217138    1.000000

[8 rows x 8 columns]

**silbp**: Number of Siblings/Spouses Abroad

**parch**: Number of Parents/Children Abroad

In [35]:
df['FamilySize']= df['SibSp']+df['Parch']
df.drop(['SibSp','Parch'], axis=1, inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.033207  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.069809  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.331339 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  1.000000  0.091566   -0.248512
Fare            0.012658  0.257307 -0.549500  0.091566  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.248512  0.217138    1.000000

**FamilySize in the ship does not have much corrrelation with survival rate**

Let's check if we weather the person was alone or not can affect the survival

In [39]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 11 columns]

In [40]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

**If the person is alone he/she has less chance of surviving.**

The readon might be the person who is travelling with his family might be belonging to rich class and might be prioritising over other.

In [41]:
df[['Alone', 'Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

In [42]:
df['Sex']=[0 if df['Sex'][i]=='male' else 1 for i in df.index] #1 for female 0 for male
df.groupby(['Sex'])['Survived'].mean()

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

It shows female passenger has maore chance of surving than male passenger.

It shows women were prioritised over men.

In [43]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64

# Conclusion

*   Female passengers were prioritised over men
*   People with high class or rich class have higher survival rate than others. the hierachy migt have been followedwhile saving passengers
*   Passengers travelling with their family have heigher survival rate.
*   Passsengers who boarded the ship at Cherbourg, survived more in proportion then the others.